- const block = 'menu'

header
  nav(class=`${block}`)
    ul(class=`${block}__list`)
      li(class=`${block}__item`)
        +link('/index.html', 'Main')(class=`${block}__link`)
      li(class=`${block}__item`)
        +link('/hw7.html', '[7]')(class=`${block}__link`)
