- const block = 'menu'

header
  nav(class=`${block}`)
    ul(class=`${block}__list`)
      li(class=`${block}__item`)
        a(class=`${block}__link`, href='/index.html') Main
      li(class=`${block}__item`)
        a(class=`${block}__link`, href='/hw7.html') [7]
